        <!-- footer start -->
        <footer class="footer-container">
            <div class="footer-top">
                <h3 class="footer-top__heading">Newsletter</h3>
                <input class="footer-top__suscribe" type="text" value="" name="suscribe" />
                <button class="btn btn-default btn-md boxshadow-black">Suscribe</button>
            </div>
            <div class="footer-center">
                <div class="footer-center__menubox align-flexstart">
                     <div class="footer-center__box">
                         <h3>Shopping Guide</h3>
                         <ul>
                             <li><a href="#">Blog</a></li>
                             <li><a href="#">FAQs</a></li>
                             <li><a href="#">Payment</a></li>
                             <li><a href="#">Shipment</a></li>
                             <li><a href="#">Where is my order?</a></li>
                             <li><a href="#">Return policy</a></li>
                         </ul>
                     </div>
                     <div class="footer-center__box">
                         <h3>Style Advisor</h3>
                         <ul>
                             <li><a href="#">Your Account</a></li>
                             <li><a href="#">Information</a></li>
                             <li><a href="#">Addresses</a></li>
                             <li><a href="#">Discount</a></li>
                             <li><a href="#">Orders History</a></li>
                             <li><a href="#">Order Tracking</a></li>
                         </ul>
                 </div>
                 <div class="footer-center__box">
                         <h3>Information</h3>
                         <ul>
                             <li><a href="#">Site Map</a></li>
                             <li><a href="#">Search Terms</a></li>
                             <li><a href="#">Advanced Search</a></li>
                             <li><a href="#">About Us</a></li>
                             <li><a href="#">Contact Us</a></li>
                             <li><a href="#">Suppliers</a></li>
                         </ul>
                 </div>
                 <div class="footer-center__box">
                         <h3>Contact Us</h3>
                         <ul>
                             <li><a href="#"><span>icon</span><p>123 Main Street, Anytown,</p></a></li>
                             <li><a href="#"><span>icon</span><p>CA 12345 USA</p></a></li>
                             <li><a href="#"><span>icon</span><p> +1 800 123 1234</p></a></li>
                             <li><a href="#"><span>icon</span><p> abc@marvisstore.com</p></a></li>
                         </ul>
                 </div>
                </div>
                <div class="footer-center__cardsection">
 
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom__left">
                     <p>&copy; 2021. All Rights Reserved</p>
                </div>
                <div class="footer-bottom__right">
                    <ul>  
                         <!-- <li>Marvis Themes </li>
                         <li>Marvis Themes </li>
                         <li>Service Packs </li>
                         <li>Extensions & Plugins </li> -->
                    </ul>
                </div>
            </div>
         </footer>
         <!-- footer end -->
 
     </div>