<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- animate css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- baloo google font -->
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- flexslider styles -->
    <link rel="stylesheet" href="/css/flexslider.css" type="text/css">
    <!-- custom styles -->
    <link href="/css/style.css" rel="stylesheet" >
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <!-- flexslider script -->
    <script src="/scripts/jquery.flexslider.js"></script>
    <script src="https://use.fontawesome.com/fb755e7a69.js"></script>
    <title>Marvis Store</title>
</head>

<body>