<div class="main">

    <!-- header start -->
    <section class="header-container">
        <header>
            <div class="header-top">
                <div class="header-top__left">
                    <ul>
                        <li><a href="#">USD</a></li>
                        <li><a href="#">Welcome message</a></li>
                    </ul>
                </div>
                <div class="header-top__right">
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Wishlist</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Company</a></li>
                        <li><a href="/login">Log in</a></li>
                        <li><a href="/logout">Log out</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-main">
                <div class="header-main__logocontainer">
                    <h2>Marvis <span style="color: #ff6384">Store</span></h2>  
                </div>
                <div class="header-main__searchcontainer">
                    <input type="search" value="" name="search" placeholder="Search entire store here"/>
                    <button class="header-main__searchicon"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
                <div class="header-main__shoppingcart">
                    <div class="cartlogo-container">
                        <img src="./svgs/4011518421606062170.svg" alt="SH" />
                    </div>
                    <div class="carttext-container">
                        <h3>Shopping Cart</h3>
                        <p>2 Items / $15200</p>
                    </div>
                </div>
            </div>
            <div class="header-nav">
                <div onclick="showMenuDropdown('headerDropdown')" class="header-nav__sidenav">
                    <div class="sidenav-icon-container">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </div>
                    <div class="sidenav-text-container">
                        <h2>All Categories</h2>
                    </div>
                    <div id="headerDropdown" class="header-nav__dropdown">
                        <ul>
                            <li><a href="#">Men</a></li>
                            <li><a href="#">Women</a></li>
                            <li><a href="#">Electronics</a></li>
                            <li><a href="#">Furniture</a></li>
                            <li><a href="#">Baby and Kids</a></li>  
                            <li><a href="#">Game and Sports</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Consoles</a></li>
                            <li><a href="#">Others</a></li>
                        </ul>
                    </div>
                </div>
                <div class="header-nav__info">
                    <div>Free Shipping Worldwide</div>
                    <div>/</div>
                    <div>Money Back Guarantee</div>
                    <div>/</div>
                    <div>Hotline +(888) 123-4567</div>
                </div>
                <div class="header-nav__offerzone">
                    <p>offer zone</p>
                </div>
            </div>
        </header>
    </section>
    <!-- end of header -->
