    <!-- sidebar start -->
    <div class="sidebar">
        <div class="sidebar__hotdeal">
            
            <div class="product-card product-card--hotdeal">
                <div class="product-card__image hotdeal-image">
                    <span class="hotdeal-text">Hot Deal</span>
                    <div class="hotdeal-countdown">
                        <div class="countdown-box">
                            <h2>00</h2>
                            <p>days</p>
                        </div>
                        <div class="countdown-box">
                            <h2>00</h2>
                            <p>hrs</p>
                        </div>
                        <div class="countdown-box">
                            <h2>00</h2>
                            <p>mins</p>
                        </div>
                        <div class="countdown-box">
                            <h2>00</h2>
                            <p>secs</p>
                        </div>
                    </div>
                    <img src="./images/jeshoots-com-eCktzGjC-iU-unsplash.jpg" alt="" />
                </div>
                <div class="product-card__title">
                    <p>Product Name</p>
                </div>
                <div class="product-card__rating">
                    <p>Rating</p>
                </div>
                <div class="product-card__price">
                    <p>$155.00</p>
                </div>
                <button class="btn-home">Add To Cart</button>
            </div>

        </div>

        <div class="sidebar__review">
            <div class="sidebar__review--imagecontainer">
                <img src="./images/chimaobi.jpg" alt="image" />
            </div>
            <p>dolor sit amet, consectetur adipiscing elit, sed 
                do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                ut aliquip ex ea commodo consequat</p>
            <h3>John Doe</h3>
        </div>

        <div class="sidebar__banner">
            
        </div>
    </div>
    <!-- sidebar end -->