.header-top {
    font-size: 1.1rem;
    @include flexItems(space-between);
    padding: .7rem 10rem;
    border-bottom: 1px solid #eaeaea;
    ul {
        list-style-type: none;
        @include flexItems(space-evenly);
        li {
           
            a {
                text-decoration: none;
                color: inherit;
                padding: 2rem 1rem; 
            }
        }
    }
}

.header-main {
    @include flexItems(space-between);
    margin: 4rem 10rem;

    &__logocontainer {
        flex-basis: 28%;
        h2 {
            text-transform: uppercase;
        }
    }

    &__searchcontainer {
        flex-basis: 50%;
        input {
            width: 90%;
            margin: 0 auto;
            height: 4.5rem;
            border: 1px solid #c5c5c5;
            margin-right: -4.5rem;
            padding-left: 1rem;
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            background-color: $color-grey-light-2;
            transition: all .3s;

            &:focus {
                outline: none;
                border: 0;
                background-color: $color-grey-light-3;
            }

            &::-webkit-input-placeholder {
                font-weight: 200;
                color: $color-grey-light;
            }

        }
        button {
            height: 4.5rem;
            width: 5rem;
            border: 1px solid #c5c5c5;;
            outline: none;
        }
    }

    &__shoppingcart {
        @include flexItems(flex-end);
        .cartlogo-container {
            flex-basis: 20%;
            img {
                width: 90%
            }
        }
        .carttext-container {
            font-size: 1.2rem;
            h3 {
               text-transform: uppercase; 
            }
        }
    }
}

.header-nav {
    background-color: $color-black-2;
    padding: 2rem auto;
    color: $color-white;
    padding: 1rem 10rem;
    @include flexItems(flex-start);

    &__sidenav {
        cursor: pointer;
        @include flexItems(space-between);
        background-color: $color-primary;
        margin: -1.5rem;
        margin-left: 0rem;
        padding: 1.5rem 3.4rem;
        position: relative;
        .sidenav-icon-container {
            font-size: 2rem;
        }
        .sidenav-text-container {
            h2 {
                text-transform: uppercase;
                padding-left: 1rem;
            }
        }
    }

    &__info {
        @include flexItems(space-between);
        margin-left: 4rem;
        flex-basis: 50%;
    }

    &__offerzone {
        margin-left: auto;
        p {
            text-transform: uppercase;
            font-size: 1.2rem;
            padding: .5rem 1.1rem;
            border-radius: $border-radius-small;
            background-color: crimson;
        }
    }

    &__dropdown {
        position: absolute;
        transform: scaleY(0);
        transform-origin: top;
        transition: all .3s;
        top: 100%;
        left: 0;
        width: 100%;
        color: $text-color-primary-light;
        background-color: rgba($color-white, 0.93);
        border: 1px solid #eaeaea;
        ul {
            list-style-type: none;
            li {
                a {
                    padding: 1rem;
                    display: block;
                    border-bottom: 1px solid #eaeaea;
                    text-decoration: none;
                    color: inherit;
                    &:hover {
                        background-color: $color-grey-light-4;
                    }
                }
            }
        }
    }
}