
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    // font-family: "Lato", sans-serif;
    // font-family: 'Cormorant Garamond', serif;
    font-family: 'Baloo 2', cursive;
    // font-family: 'Open Sans', sans-serif;
}

.main {
    margin: 0 10rem;
    font-size: 1.5rem;;
}