*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Baloo 2', cursive; }

.main {
  font-size: 1.5rem; }

.align-flexstart {
  align-items: flex-start !important; }

.justify-flexstart {
  justify-content: flex-start !important; }

.mt-10 {
  margin-top: 1rem; }

.mt-20 {
  margin-top: 2rem; }

.mt-30 {
  margin-top: 3rem; }

.mt-40 {
  margin-top: 4rem; }

.mt-50 {
  margin-top: 5rem; }

.mt-60 {
  margin-top: 6rem; }

.mt-70 {
  margin-top: 7rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 0.5rem;
  transition: all .2s;
  position: relative;
  font-size: 1.3rem;
  color: #3a3a3a;
  box-shadow: 0 0.5rem 1rem rgba(204, 205, 206, 0.6);
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-primary {
  background-color: #014463;
  color: aliceblue; }

.btn-default {
  background-color: #ebebeb; }

.btn-sm {
  padding: 0.8rem 1rem; }

.btn-md {
  padding: 1.2rem 2rem; }

.btn-lg {
  padding: 2rem 3.5rem; }

.statbox-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }

.statbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  font-size: 1.8rem;
  padding: 1rem 1.4rem;
  margin-top: 1rem;
  background-color: #fff; }
  .statbox__left {
    flex-basis: 35%; }
    .statbox__left img {
      width: 80%; }
  .statbox__right {
    flex: 1; }
    .statbox__right p {
      color: #636363;
      font-size: 1.3rem;
      padding-bottom: .3rem; }
    .statbox__right span {
      font-size: 2rem;
      font-weight: bold; }

.line-chart-container {
  background-color: #fff; }

.table-container {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem; }
  .table-container .users-table {
    font-family: "Lato", sans-serif;
    border-collapse: collapse;
    width: 100%; }
    .table-container .users-table td, .table-container .users-table th {
      border: 1px solid #ddd;
      padding: .8rem; }
    .table-container .users-table tr:nth-child(even) {
      background-color: #f2f2f2; }
    .table-container .users-table tr:hover {
      background-color: #ddd; }
    .table-container .users-table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: darkslategray;
      color: white; }

.form-control {
  width: 90%;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .form-control .text-label {
    flex-basis: 30%; }
  .form-control .text-input {
    flex: 1;
    height: 3.5rem;
    border-radius: 4px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    margin: 1rem 0;
    border: 1px solid #cdcdcd;
    padding-left: 1rem; }
    .form-control .text-input:focus {
      width: 100%;
      outline: none;
      background-color: #ececec; }
    .form-control .text-input::-webkit-input-placeholder {
      font-weight: 200;
      color: #cccdce; }

.dashboard-wrapper {
  width: 100%;
  background-color: #ebebeb; }

.dashboard-content {
  margin-left: 17%;
  min-height: 180vh;
  max-width: 100%; }
  .dashboard-content__main {
    padding: 8rem 3rem 5rem 3rem; }

.admin-header {
  padding: 1rem;
  background-color: #fff;
  color: #3a3a3a;
  position: fixed;
  top: 0;
  right: 0;
  width: 83%;
  display: flex;
  align-items: center;
  justify-content: "space-between"; }
  .admin-header__left {
    margin-right: auto;
    transition: display .5s; }
    .admin-header__left .admin-add-container {
      display: none;
      background-color: #fff;
      border-radius: .5rem;
      position: absolute;
      top: 100%;
      left: 2.5rem;
      padding: 1rem; }
      .admin-header__left .admin-add-container ul {
        list-style-type: none; }
        .admin-header__left .admin-add-container ul li {
          border-bottom: 1px solid #eaeaea;
          padding: .8rem .2rem; }
          .admin-header__left .admin-add-container ul li a {
            padding: .8rem;
            text-decoration: none;
            color: inherit; }
            .admin-header__left .admin-add-container ul li a:hover {
              background-color: #ececec; }
  .admin-header__addbutton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer; }
    .admin-header__addbutton h5 {
      padding-left: .5rem; }
  .admin-header__right {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
  .admin-header__notificationcontainer {
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .admin-header__notificationcontainer .admin-notification-number {
      padding: 2px;
      background-color: #ff0015;
      border-radius: 100%;
      font-size: .8rem;
      position: absolute;
      top: -50%;
      right: -50%; }
  .admin-header__searchcontainer {
    flex-basis: 60%;
    display: flex; }
    .admin-header__searchcontainer input {
      width: 85%;
      margin: 0 auto;
      border-radius: 2rem;
      border: 0;
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      background-color: #ebebeb;
      padding: .7rem 2rem;
      transition: all .3s;
      margin-right: -2rem; }
      .admin-header__searchcontainer input:focus {
        width: 100%;
        outline: none;
        background-color: #ececec; }
      .admin-header__searchcontainer input::-webkit-input-placeholder {
        font-weight: 200;
        color: #cccdce; }
  .admin-header__searchicon {
    outline: none;
    border: none;
    background-color: #ebebeb; }
    .admin-header__searchicon:active {
      outline: none; }
  .admin-header__dpcontainer {
    cursor: pointer;
    width: 10%;
    border-radius: 100%; }
    .admin-header__dpcontainer img {
      width: 100%;
      height: 100%;
      border-radius: 100%; }

.admin-sidebar {
  background-color: #2e3e4e;
  padding: 3rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 17%;
  padding-right: 0; }
  .admin-sidebar__logocontainer {
    border-bottom: 1px solid #939393;
    padding-bottom: 1rem; }
    .admin-sidebar__logocontainer h3 {
      font-size: 2rem;
      color: #94bfff;
      text-transform: uppercasae; }
    .admin-sidebar__logocontainer p {
      color: #dadada; }
  .admin-sidebar__contentbox {
    margin: 4rem auto;
    color: #fff; }
    .admin-sidebar__contentbox ul {
      list-style-type: none; }
      .admin-sidebar__contentbox ul li {
        margin: 2rem 0;
        font-size: 1.3rem; }
        .admin-sidebar__contentbox ul li a {
          padding: 1.2rem;
          text-decoration: none;
          transition: all .4s;
          color: inherit;
          display: flex;
          align-items: center;
          justify-content: space-evenly; }
          .admin-sidebar__contentbox ul li a .admin-sidebar__iconcontainer {
            flex-basis: 20%; }
            .admin-sidebar__contentbox ul li a .admin-sidebar__iconcontainer img {
              width: 71%; }
          .admin-sidebar__contentbox ul li a span {
            flex: 1;
            margin-left: 1rem; }
          .admin-sidebar__contentbox ul li a:hover {
            background-color: #1c252f; }
  .admin-sidebar__heading1 {
    font-size: 1.1rem;
    font-weight: 400;
    color: #dadada; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"]:not(:last-child) {
    margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc((2 * (100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc((2 * (100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc((3 * (100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header-top {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .7rem 10rem;
  border-bottom: 1px solid #eaeaea; }
  .header-top ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .header-top ul li a {
      text-decoration: none;
      color: inherit;
      padding: 2rem 1rem; }

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem 10rem; }
  .header-main__logocontainer {
    flex-basis: 28%; }
    .header-main__logocontainer h2 {
      text-transform: uppercase; }
  .header-main__searchcontainer {
    flex-basis: 50%; }
    .header-main__searchcontainer input {
      width: 90%;
      margin: 0 auto;
      height: 4.5rem;
      border: 1px solid #c5c5c5;
      margin-right: -4.5rem;
      padding-left: 1rem;
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      background-color: #ebebeb;
      transition: all .3s; }
      .header-main__searchcontainer input:focus {
        outline: none;
        border: 0;
        background-color: #ececec; }
      .header-main__searchcontainer input::-webkit-input-placeholder {
        font-weight: 200;
        color: #cccdce; }
    .header-main__searchcontainer button {
      height: 4.5rem;
      width: 5rem;
      border: 1px solid #c5c5c5;
      outline: none; }
  .header-main__shoppingcart {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .header-main__shoppingcart .cartlogo-container {
      flex-basis: 20%; }
      .header-main__shoppingcart .cartlogo-container img {
        width: 90%; }
    .header-main__shoppingcart .carttext-container {
      font-size: 1.2rem; }
      .header-main__shoppingcart .carttext-container h3 {
        text-transform: uppercase; }

.header-nav {
  background-color: #000;
  padding: 2rem auto;
  color: #fff;
  padding: 1rem 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .header-nav__sidenav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0083c1;
    margin: -1.5rem;
    margin-left: 0rem;
    padding: 1.5rem; }
    .header-nav__sidenav .sidenav-icon-container {
      font-size: 2rem; }
    .header-nav__sidenav .sidenav-text-container h2 {
      text-transform: uppercase;
      padding-left: 1rem; }
  .header-nav__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 4rem;
    flex-basis: 50%; }
  .header-nav__offerzone {
    margin-left: auto; }
    .header-nav__offerzone p {
      text-transform: uppercase;
      font-size: 1.2rem;
      padding: .5rem 1.1rem;
      border-radius: 0.5rem;
      background-color: crimson; }

.admin-breadcrumb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem auto;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px; }
  .admin-breadcrumb div {
    margin-right: .5rem; }

.product-form-container {
  min-height: 70vh;
  background-color: #fff; }

.product-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  padding: 3rem;
  border-radius: 0.5rem; }
  .product-form__left {
    flex-basis: 50%; }
  .product-form__right {
    flex: 1; }

.product-image__view {
  width: 60%;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #eaeaea; }
  .product-image__view img {
    width: 100%;
    height: 100%; }

.category-form {
  width: 70%;
  background-color: #fff;
  padding: 3rem;
  border-radius: 0.5rem; }

.add-user-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  padding: 3rem;
  border-radius: 0.5rem; }
  .add-user-form__left {
    flex-basis: 50%; }
  .add-user-form__right {
    flex: 1; }

.add-user-image__view {
  width: 60%;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #eaeaea; }
  .add-user-image__view img {
    width: 100%;
    height: 100%; }
