<!-- sidebar start -->

<div class="admin-sidebar">
    <div class="admin-sidebar__logocontainer">
        <h3>Marvis <span style="color: #ff6384">Store</span></h3>
        <p>Portfolio Admin Dashboard</p>
    </div>
    <div class="admin-sidebar__contentbox">
        <h5 class="admin-sidebar__heading1">Store</h5>
        <ul>
            <li><a href="/admin"><div class="admin-sidebar__iconcontainer"><img src="/svgs/admin/4090568461553238448.svg" alt="DB" /></div><span>Dashboard</span></a></li>
            <li><a href="/admin/users"><div class="admin-sidebar__iconcontainer"><img src="/svgs/admin/2390192371535029669.svg" alt="US" /></div><span>Users</span></a></li>
            <li><a href="/admin/products"><div class="admin-sidebar__iconcontainer"><img src="/svgs/admin/4804552381535029667.svg" alt="PD" /></div><span>Products</span></a></li>
            <li><a href="#"><div class="admin-sidebar__iconcontainer"><img src="/svgs/admin/15948335841535029670.svg" alt="AC" /></div><span>Accounts</span></a></li>
        </ul>
    </div>
    <div class="admin-sidebar__contentbox">
        <h5 class="admin-sidebar__heading1">Blog</h5>
        <ul>
            <li><a href="#"><div class="admin-sidebar__iconcontainer"><img src="/svgs/admin/17488728311579605530.svg" alt="PS" /></div><span>Posts</span></a></li>
            <li><a href="#"><div class="admin-sidebar__iconcontainer"><img src="/svgs/admin/10602332231586787993.svg" alt="CM" /></div><span>Comments</span></a></li>
        </ul>
    </div>
</div> <!-- Sidebar end -->