.landing-container {
    @include flexItems(space-between);
    margin: 2rem 10rem;
    .landing-left {
        margin-right: 2rem;
    }

    .landing-main {
        img {
            width: 100%;
        }
    }
}

.content-box {
    @include flexItems(space-between);
    margin: 2rem 10rem;
}

.sidebar {
    flex-basis: 23%;
    &__review {
        margin-top: 2rem;
        text-align: center;
        padding: 2rem;
        border: 1px solid #eaeaea;
        border-bottom: 4px solid $color-primary;

        &--imagecontainer {
            width: 100%;
            @include flexItems(center);
            img {
                width: 100px;
                height: 100px;
                margin: 3rem;
                border-radius: 100px;
            }
        }
        p {
            border-bottom: 2px solid #eaeaea;
            padding-bottom: 1rem;
        }
        h3 {
            font-weight: bold;
            color: $color-primary-dark;
            margin-top: 2rem;
        }
    }
}

.products-container {
    flex: 1;
    margin-left: 2rem;
}

.new-products, .best-seller-products, .featured-products {

    &__top {
        @include flexItems(space-between);
        padding: 1rem 0;
        text-transform: uppercase;
        font-size: 1.8rem;
        border-bottom: 3px solid #eaeaea;
        margin-bottom: 2rem;
    }

    &__content {
        @include flexItems(space-between);
        margin-bottom: 3rem;
    }
}


