.btn {
    &,
    &:link,
    &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: $border-radius-small;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;
    color: $text-color-primary-light;
    box-shadow: 0 .5rem 1rem rgba($color-grey-light,.6);

    //Change for the <button> element
    border: none;
    cursor: pointer;
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
    // &::after {
    //     content: "";
    //     display: inline-block;
    //     height: 100%;
    //     width: 100%;
    //     border-radius: 10rem;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     z-index: -1;
    //     transition: all .4s;
    // }
    
    // &--animated {
    //     animation: moveInBottom .5s ease-out .75s;
    //     animation-fill-mode: backwards;
    // }
    &-primary {
        background-color: $color-primary-dark;
        color: aliceblue;
    }
    &-default {
        background-color: $color-grey-light-2;
    }
}

.btn-sm {
    padding: $btn-sm-padding; 
}

.btn-md {
    padding: $btn-md-padding;
}

.btn-lg {
    padding: $btn-lg-padding;
}

.btn-home {
    text-transform: uppercase;
    outline: none;
    border: none;
    padding: 1rem 2rem;
    transition: all .6s;
    margin-top: 1rem;
    cursor: pointer;
    &:hover {
        border: 1px solid $color-primary-dark;
        background-color: $color-primary;
    }
}

.btn-regular {
    text-transform: uppercase;
    outline: none;
    border: none;
    padding: 1rem 2rem;
    transition: all .6s;
    margin-top: 1rem;
    background-color: $color-primary;
    cursor: pointer;
    color: $text-color-secondary;
}