.form-control {
    width: 90%;
    font-size: 1.3rem;
    @include flexItems(space-evenly);
    .text-label {
        flex-basis: 30%;
    }
    .text-input {
        flex: 1;
        height: 3.5rem;
        border-radius: 4px;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        // border-top-right-radius: 6px;
        // border-bottom-left-radius: 6px;
        outline: none;
        margin: 1rem 0;
        border: 1px solid #cdcdcd;
        padding-left: 1rem;

        &:focus {
            width: 100%;
            outline: none;
            background-color: $color-grey-light-3;
        }

        &::-webkit-input-placeholder {
            font-weight: 200;
            color: $color-grey-light;
            // padding-left: 1rem;
        }
    }
}
