.dashboard-wrapper {
    width: 100%;
    background-color: $color-grey-light;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
}

.dashboard-content {
    margin-left: 17%;
    min-height: 180vh;
    max-width: 100%;
    &__main {
        padding: 8rem 3rem 5rem 3rem;
    }
}
