.admin-header {
    padding: 1rem;
    background-color: $color-white;
    color: $text-color-secondary;
    position: fixed;
    top: 0;
    right: 0;
    width: 83%;
    @include flexItems('space-between');

    &__left {
        margin-right: auto;
        transition: display .5s;
        .admin-add-container {
            display: none;
            background-color: $color-white;
            border-radius: .5rem;
            position: absolute;
            top: 100%;      
            left: 2.5rem;  
            padding: 1rem;
            ul {
                list-style-type: none;
                li {
                    border-bottom: 1px solid #eaeaea;
                    padding: .8rem .2rem;
                    a {
                        padding: .8rem;
                        text-decoration: none;
                        color: inherit;
                        
                        &:hover {
                            background-color: $color-grey-light-3;
                        }
                    }
                }
            }
        }
    }
    &__addbutton {
        position: relative;
        @include flexItems(center);
        font-size: 1.5rem;
        cursor: pointer;
        h5 {
            padding-left: .5rem;
        }
    }
    &__right {
        @include flexItems(space-evenly);
    }
    &__notificationcontainer {
        cursor: pointer;
        font-size: 1.5rem;
        @include flexItems(center);
        position: relative;
        .admin-notification-number {
            padding: 2px;
            background-color: $notifications-color;
            border-radius: 100%;
            font-size: .8rem;
            position: absolute;
            top: -50%;
            right: -50%;
        }
    }
    &__searchcontainer {
        flex-basis: 60%;
        display: flex;

        input {
            width: 85%;
            margin: 0 auto;
            border-radius: 2rem;
            border: 0;
            //because input doesnt automatically inherit global font
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            background-color: $color-grey-light-2;
            padding: .7rem 2rem;
            transition: all .3s;
            margin-right: -2rem;

            &:focus {
                width: 100%;
                outline: none;
                background-color: $color-grey-light-3;
            }

            // &:focus + .admin-header__searchicon {
            //     color: lawngreen;
            // }
            &::-webkit-input-placeholder {
                font-weight: 200;
                color: $color-grey-light;
            }
        }
    }
    
    &__searchicon {
        outline: none;
        border: none;
        background-color: $color-grey-light-2;
        &:active {
            outline: none;
        }
    }

    &__dpcontainer {
        cursor: pointer;
        width: 10%;
        border-radius: 100%;
        img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }
    }
}

