
// COLORS
$color-grey-light: #cccdce;
$color-grey-light-2: #ebebeb;
$color-grey-light-3: #eeeded;
$color-grey-light-4: #f1f0f0;

$color-primary-light: #00aaf8;
$color-primary: #0083c1;
$color-primary-dark: #014463;

$color-secondary: #2e3e4e;
$color-secondary-dark: #1c252f;

$text-color-primary: #000;
$text-color-primary-light: rgb(58, 58, 58);
$text-color-primary-light-2: rgb(99, 99, 99);

$text-color-secondary: #fff;
$text-color-secondary-2: #dadada;

$color-white: #fff;
$color-black: #000;
$color-black-2: #1c1c1c;
$color-black-3: #333;
$color-black-4: #444;

$notifications-color: #ff0015;

// BORDER

$border-radius-normal: 1rem;
$border-radius-small: .5rem;
$border-radius-small-2: .3rem;
$border-radius-large: 1.5rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONT SIZE
$default-font-size: 1.3rem;

// BUTTON SIZE
$btn-sm-padding: .8rem 1rem;
$btn-md-padding: 1.2rem 2rem;
$btn-lg-padding: 2rem 3.5rem